<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <i class="fa d-inline fa-lg fa-cloud"></i>
        <b>SION</b>
      </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.session.logged_in %}

          <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="fa d-inline fa-lg fa-user"></i>&nbsp; Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="">
                    <i class="fa d-inline fa-lg fa-search"></i>&nbsp; Lihat Organisasi</a>
               </li>
            {% if request.session.role == 'relawan' or request.session.role == 'donatur' %}
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="fa d-inline fa-lg fa-money"></i>&nbsp; Donasi Organisasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="fa d-inline fa-lg fa-money"></i>&nbsp; Donasi Kegiatan</a>
              </li>
            {% elif request.session.role == 'sponsor' %}
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="fa d-inline fa-lg fa-money"></i>&nbsp; Donasi Organisasi</a>
              </li>
            {% elif request.session.role == 'pengurus' %}
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="fa d-inline fa-lg fa-newspaper-o"></i>&nbsp; Buat Kegiatan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  <i class="fa d-inline fa-lg fa-database"></i>&nbsp; Lihat Kegiatan</a>
              </li>
            {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:logout' %}"onclick="return confirm('Yakin ingin keluar?')">
                  <i class="fa fa-power-off fa-fw fa-lg"></i>Logout</a>
              </li>
            </ul>
          </div>
        {% endif %}
    </div>
  </nav>