<div class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-1">
            	<hr>
                <h1 class="display-8 text-white text-md-left text-center"> &lt;3 Kelompok 4 BASDAT</h1>
            </div>
        </div>
    </div>
</div>
