{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Home - 
{% endblock %}

{% block content %}

  {% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
  {% endif %}

  <div class="pt-5 text-white bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h1 class="display-4"> <strong> SION </strong></h1>
            <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-md-left text-center align-self-center my-5">
          <p class="lead">Selamat datang di Tugas Kelompok Basdat.Kami dari kelompok 4 kelas B mohon nilainya yang bagus ya karena capek dan pusing padahal udah ada django models tapi disuruh pake yang jadul :( huhuhu
          credits to pingendo karena anda UI/UX nya jadi 15 menit doangs.</p>

          {% if not request.session.logged_in %}
            <div class="row mt-5 bg-primary">
              <div class="col-md-5 col-6">
                <a class="btn btn-info d-inline-flex" href="/login" >Login </a>
                
                <a class="btn btn-info d-inline-flex" href="/register" >Register </a>
              
              </div>

            </div>
          {% endif %}


        </div>
        <div class="col-md-6 text-primary">
          <img class="img-responsive d-block img-fluid img-thumbnail mx-auto bg-primary" src="../static/core/img/asset-home.png"> </div>
      </div>

    </div>
  </div>

{% endblock %}