{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Login - 
{% endblock %}

{% block content %}
  {% if error_msg %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
  {% endif %}

  <div class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-gray p-5 bg-gray-dark">
            <div class="card-body">
              <h1 class="mb-4 text-dark">Login form</h1>
              <form action="{% url 'core:login' %}" method="post">
                {% csrf_token %}
                 <div class="form-group">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" placeholder="Enter Username" name="email" required="required" {% if email %} value="{{ email }}" {% endif %}> </div>
                <div class="form-group">  
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Enter Password" required="required" name="password"> </div>
                <button type="submit" class="btn btn-grey">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}