{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Register - 
{% endblock %}

{% block content %}

  <div class="py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
          <a href = "/register-sponsor">
            <img class="img-fluid d-block mx-auto" src="../static/core/img/asset-donatur.png" width="300" height="300"></a>
            <h1 class="text-center">Daftar Sebagai Sponsor</h1>
          </div>
        </a>  

        <div class="col-md-6"> 
          <a href = "/register-donator">
          <img class="img-fluid d-block mx-auto" src="../static/core/img/asset-sponsor.png" width="300" height="300"></a>
          <h1 class="text-center">Daftar Sebagai Donatur</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
          <a href = "/register-volunteer">
            <img class="img-fluid d-block mx-auto" src="../static/core/img/asset-relawan.png" width="300" height="300"></a>
            <h1 class="text-center">Daftar Sebagai Relawan</h1>
          </div>
        </a>  

        <div class="col-md-6"> 
          <a href = "/register-organisasi">
          <img class="img-fluid d-block mx-auto" src="../static/core/img/asset-organisasi.png" width="300" height="300"></a>
          <h1 class="text-center">Daftar Organisasi</h1>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}