{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Donasi organisasi -
{% endblock %}
{% block content %}


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Berdonasi
            <br>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Ayo donasikan ke organisasi yang Anda inginkan!</p>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Apakah anda benar ingin berdonasi sebesar X untuk organisasi ini?</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Uang yang telah Anda transfer tidak dapat dikembalikan</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="">
            <div class="form-group">
              <label>Nama Organisasi</label>
              <small class="form-text text-muted">Cari organisasi yang Anda inginkan</small>
            </div>
            <div class="btn-group">
            <form>
              <select id="mySelect">
                {% for i in selectnama %}
                  <option value=i>{{i}}</option>
                {% endfor %}
              </select>
            </form>
            </div>
            <div class="form-group">
            <label>Nominal donasi</label>
            <small class="form-text text-muted">Masukkan nilai nominal uang yang Anda ingin donasikan (minimal sebesar Rp. 2 Juta untuk sponsor)</small>
            <form method="POST">
              <input id="my_input" type="int" value="">
            </form>
            <button id="button_donasi" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Donasikan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      $("#button_donasi").click(function() {
          var nominal = $("#my_input").find(":selected").text();
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    nominal: nominal,
                    },
            });
        $("#mySelect").click(function() {
          var selected_name = $("#mySelect").find(":selected").text();
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    selected_name: selected_name,
                    },
            });
        });
    });
  </script>

  {% endblock %}