{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Search profile organisasi -
{% endblock %}
{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Lihat Organisasi</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Lihat profil organisasi yang Anda inginkan.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Daftar Organisasi&nbsp;</button>
            <form>
              <select id="mySelect">
                {% for i in nama_org %}
                  <option value=i>{{ i }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
        $("#mySelect").click(function() {
          var selected_org = $("#mySelect").find(":selected").text();
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    selected_org: selected_org,
                    },
            });
        });
    });
  </script>
{% endblock %}