{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Profile -
{% endblock %}
{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5">
            <h1 class="text-dark" style="background:rgba(255,255,255,0.5)"> Profile </h1>
            <center class="">
              <img class="img-circle border mx-auto" width="170px" src="../static/core/img/asset-profil.jpg"> </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="background:rgba(255,255,255,0.5)">
          <div class="py-5">
            <h1 class="text-dark">Information</h1>
            <h2 class="text-dark w-25 p-2">Nama</h2>
            <p class="text-dark">{{nama}}</p>
            <h2 class="text-dark p-2 w-25">E-Mail</h2>
            <p class="text-dark">{{email}}</p>
            <h2 class="text-dark p-2 w-25">Alamat</h2>
            <p class="text-dark">{{alamat}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="background: rgba(255, 255, 255, 0.5);">
          <div class="py-5">
            <h1 class="text-dark">Saldo</h1>
            <h2 class="text-dark">{{saldo}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}