{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Profile - 
{% endblock %}
{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5">
            <h1 class="text-dark" style="background:rgba(255,255,255,0.5)"> Profile </h1>
            <center class="">
              <img class="img-circle border mx-auto" width="170px" src="../static/core/img/asset-profil.jpg"> </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="background:rgba(255,255,255,0.5)">
          <div class="py-5">
          <p class="card-text">Nama Organisasi: {{nama}}
                <br>Website: {{website}}
                <br>Email: {{email}
                <br>Kelurahan: {{kelurahan}
                <br>Kecamatan: {{kecamatan}}
                <br>Kabupaten: {{kabupaten}
                <br>Provinsi: {{provinsi}}
                <br>Kode Pos: {{kodepos}}
                <br>Tujuan Organisasi: {{tujuan_organisasi}}</p>
                <table>
                  <tr>
                    <th>Nama Pengurus</th>
                    <th>Email Pengurus</th>
                    <th>Alamat Pengurus</th>
                  </tr>
                {{for i in penguruslist}}
                <br>i.nama_pengurus</br>
                <br>i.emailpengurus</br>
                <br>i.alamatpengurus</br>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}