{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Register Donator - 
{% endblock %} 
{% block content %}
 <div class="align-items-center d-flex cover section-aquamarine py-5" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-3">
          <form class="p-4 bg-light" method="post" action="{% url 'core:register_donator' %}">
            {% csrf_token %}  
            <h4 class="mb-4 text-center">Register as a Donator</h4>
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" name="name" required="required" placeholder="Your name"> </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required="required" placeholder="Your email"> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required="required" placeholder="Set your password"> </div>
            <div class="form-group">
              <label>District</label>
              <input class="form-control" name="kecamatan" required="required" placeholder="Your district"> </div>
            <div class="form-group">
              <label>Regency</label>
              <input class="form-control" name="kabupaten" required="required" placeholder="Your regency"> </div>
            <div class="form-group">
              <label>Postal code</label>
              <input type="number" class="form-control" name="kodepos" required="required" placeholder="your postal code"> </div>
            <div class="form-group">
              <label>Address</label>
              <input class="form-control" name="alamat" required="required" placeholder="your address"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Register as a Donator</b>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
