  {% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Register Organisasi - 
{% endblock %}
{% block content %}
 <div class="align-items-center d-flex cover section-aquamarine py-5" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-3">
          <form class="p-4 bg-light" method="post" action="{% url 'core:register-organisasi' %}">
            {% csrf_token %}
            <h4 class="mb-4 text-center">Register Organization</h4>
            <div class="form-group">
              <label>Organization Name</label>
              <input class="form-control" name="org_name" required="required" placeholder="Organization's name"> </div>
            <div class="form-group">
              <label>Website</label>
              <input type="url" class="form-control" name="website" required="required" placeholder="Organization's website"> </div>
            <div class="form-group">
              <label>Email</label>
              <input type="Email" class="form-control" name="org_email" required="required" placeholder="Organization's email"> </div>
            <div class="form-group">
              <label>District</label>
              <input class="form-control" name="kecamatan" required="required" placeholder="Organization's district"> </div>
            <div class="form-group">
              <label>Regency</label>
              <input class="form-control" name="kabupaten" required="required" placeholder="Organization's regency"> </div>
            <div class="form-group">
              <label>Province</label>
              <input class="form-control" name="provinsi" required="required" placeholder="Organization's province"> </div>
            <div class="form-group">
              <label>Postal code</label>
              <input type="number" class="form-control" name="kodepos" required="required" placeholder="Organization's postal code"> </div>
            <div class="form-group">
              <label>Address</label>
              <input class="form-control" name="alamat" required="required" placeholder="Organization's address"> </div>
            <div class="form-group">
              <label>Organization's Objective</label>
              <input class="form-control" name="tujuan" required="required" placeholder="Organization's objective"> </div>
            <div class="form-group">
              <label>Admin Name</label>
              <input class="form-control" name="nama_pengurus" required="required" placeholder="Admin's name"> </div>
            <div class="form-group">
              <label>Admin Password</label>
              <input type="Password" class="form-control" name="password_pengurus" required="required" placeholder="Admin's Password"> </div>
            <div class="form-group">
              <label>Admin E-mail</label>
              <input type="Email" class="form-control" name="email_pengurus" required="required" placeholder="Admin's e-mail"> </div>
            <div class="form-group">
              <label>Admin Address</label>
              <input class="form-control" name="alamat_pengurus" required="required" placeholder="Admin's address"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Register Organization</b>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
