{% extends 'layout/core_base.html' %}
{% load static %}

{% block subtitle %}
    Register Sponsor - 
{% endblock %}
{% block content %}

 <div class="align-items-center d-flex cover">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-3">
          <form class="p-4 bg-light" method="post" action="{% url 'core:register_sponsor' %}">
            {% csrf_token %}
            <h4 class="mb-4 text-center">Register as a Sponsor</h4>
            <div class="form-group">
              <label>Company name</label>
              <input class="form-control" name="name" required="required" placeholder="Your company name"> </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required="required" placeholder="Your company email"> </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" required="required" placeholder="Set your password (case sensitive)"> </div>
            <div class="form-group">
              <label>District</label>
              <input class="form-control" name="kecamatan" required="required" placeholder="Your company district"> </div>
            <div class="form-group">
              <label>Regency</label>
              <input class="form-control" name="kabupaten" required="required" placeholder="Your company regency"> </div>
            <div class="form-group">
              <label>Postal code</label>
              <input type="number" class="form-control" name="kodepos" required="required" placeholder="your company postal code"> </div>
            <div class="form-group">
              <label>Address</label>
              <input class="form-control" name="alamat" required="required" required="required" placeholder="your company address"> </div>
            <div class="form-group">
              <label>Company logo </label>
              <br><input type="file" name="pic" required="required" accept="image/*"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Register as a Sponsor</b>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
